:host{
  display: block;
}

.city-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  border: black 2px solid;
  border-radius: 10px;
  width: 600px;
  background: #08014e;

  div{
    padding: 8px;
    color: black;
    background-color: azure;
  }
}

