:host{
  display: block;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(0,255,239,1) 96%);
  border: 2px black solid;
  margin-bottom: 4px;
  color: black;
}
