:host {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: white;
  background-color: #00a153;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 20px;

  margin: auto;
  height: min-content;
  width: min-content;

}
