<div class="card">

  <div class="card-name">{{userCard.name}}</div>

  <div class="card-phone">{{userCard.phone}}</div>

  <div class="card-email">{{userCard.email}}</div>

  <div class="card-street">{{userCard.address.street}}</div>

  <div class="card-city">{{userCard.address.city}}</div>

  <div class="card-company">{{userCard.company.name}}</div>

  <app-user-email [emailInput]="userCard.email">
  </app-user-email>

  <app-address [addressInput]="userCard.address">
  </app-address>

</div>

