<div class="cs-tabs">
  <input
    class="radiotab"
    name="tabs"
    tabindex="1"
    type="radio"
    id="tabone"
    checked="checked"
  />
  <label class="label" for="tabone">Tab One</label>
  <div class="panel" tabindex="1">
    <h2>Tab One Content</h2>
    <p>Tab content...</p>
  </div>
  <input
    class="radiotab"
    tabindex="1"
    name="tabs"
    type="radio"
    id="tabtwo"
  />
  <label class="label" for="tabtwo">Tab Two</label>
  <div class="panel" tabindex="1">
    <h2>Tab Two Content</h2>
    <p>Tab content...</p>
  </div>
  <input
    class="radiotab"
    tabindex="1"
    name="tabs"
    type="radio"
    id="tabthree"
  />
  <label class="label" for="tabthree">Tab Three</label>
  <div class="panel" tabindex="1">
    <h2>Tab Three Content</h2>
    <p>Tab content...</p>
  </div>
</div>
