:host{
  display: block;
  width: max-content;
  margin: 0 auto;
}

.user-email{
  color: #0eff0a;
  border: solid 2px black;
  border-radius: 10px;
  background: blue;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

